<!DOCTYPE html>
<html>
<head>
    <title>Problema 3</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="angular.min.js"></script>
    <script src="controller.js"></script>
</head>
<body ng-app="formLabs">
<div ng-controller="UserController">
    <form name="userForm" novalidate>
        <label for="email">Email</label><br/>
        <input name="email" type="email" ng-model="user.email" ng-model-options="{ updateOn: 'blur' }" required/>
        <span class="messages" ng-show="userForm.$submitted || userForm.email.$touched">
      	<br>
        <span ng-show="userForm.email.$error.required">El campo es obligatorio.</span>
        <span ng-show="userForm.email.$error.email">Formato de email incorrecto.</span>
      </span>
        <br/>
        <label for="password">Password</label><br/>
        <input name="password" type="password" ng-model="user.password" ng-model-options="{ updateOn: 'blur' }"
               required/>
        <span class="messages" ng-show="userForm.$submitted || userForm.password.$touched">
      	<br>
        <span ng-show="userForm.password.$error.required">El campo es obligatorio.</span>
        <span ng-show="userForm.password.$error.password">Formato de password incorrecto.</span>
      </span>
        <br/>
        <label for="app">App</label><br/>
        <input name="app" type="text" ng-model="user.app" ng-model-options="{ updateOn: 'blur' }" required/>
        <span class="messages" ng-show="userForm.$submitted || userForm.app.$touched">
      	<br>
        <span ng-show="userForm.app.$error.required">El campo es obligatorio.</span>
        <span ng-show="userForm.app.$error.app">Formato de app incorrecto.</span>
      </span>
        <br/>
        <br/>
        <input type="reset" ng-click="reset(userForm)" value="Limpiar"/>
        <input type="submit" ng-click="update()" value="Guardar" ng-disabled="userForm.$invalid"/>
    </form>
    <pre>user = {{user | json}}</pre>
</div>

</body>
<style type="text/css">
    * {
        box-sizing: border-box;
    }

    form {
        width: 500px;
        padding: 16px;
        border-radius: 10px;
        margin: auto;
        background-color: #ccc;
    }

    form label {
        width: 72px;
        font-weight: bold;
        display: inline-block;
    }

    form input[type="text"],
    form input[type="password"],
    form input[type="email"] {
        width: 350px;
        padding: 3px 10px;
        border: 1px solid #f6f6f6;
        border-radius: 3px;
        background-color: #f6f6f6;
        margin: 8px 0;
        display: inline-block;
    }

    form input[type="submit"] {
        width: 100%;
        padding: 8px 16px;
        margin-top: 32px;
        border: 1px solid #000;
        border-radius: 5px;
        display: block;
        color: #fff;
        background-color: #000;
    }

    form input[type="submit"]:hover {
        cursor: pointer;
    }
</style>
</html>