<!DOCTYPE html>
<html>
<head>
    <title>Tabla</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="angular.min.js"></script>
    <script src="controller2.js"></script>
</head>
</head>
<body ng-app="myListApp">
<div ng-controller="ListController">

    <input type="text" ng-model="criterio" ng-model-options="{ updateOn: 'blur' }" name="criterio"
           placeholder="Filtrar...">
    <select id="columna" ng-model="columna" ng-model-options="{ updateOn: 'blur' }">
        <option value="BookingId" selected>BookingId</option>
        <option value="Precio">Precio</option>
    </select>
    <select id="tipo" ng-model="tipo" ng-model-options="{ updateOn: 'blur' }">
        <option value=">=" selected>>=</option>
        <option value="<="><=</option>
        <option value="=">=</option>
    </select>
    <button type="button" ng-click="update()">Buscar</button>
    <br>
    <br>


    <table>
        <tr>
            <th>BookingId</th>
            <th>Cliente</th>
            <th>Fecha de Creación</th>
            <th>Dirección</th>
            <th>Precio</th>
        </tr>
        <tr ng-repeat="book in bookings">
            <td>{{book.bookingId}}</td>
            <td>{{book.firstName}}</td>
            <td>{{book.bookingTime}}</td>
            <td>{{book.streetAddress}}</td>
            <td>{{book.bookingPrice}}</td>
        </tr>
    </table>
</div>
</body>
<style type="text/css">
    body {
        margin: auto;
        padding: 50px;
    }

    table tr {
        background-color: #eee;
    }

    table tr:nth-child(2) {
        background-color: #eee;
    }

    table tr:nth-child(even) {
        background-color: #eee;
    }

    table tr:nth-child(odd) {
        background-color: #fff;
    }

    button {
        border: 1px solid #000;
        border-radius: 5px;
        color: #fff;
        background-color: #000;
    }

    button:hover {
        background-color: #fff;
        color: #000;
        cursor: pointer;
    }
</style>
</html>